.question-div {
  width: 100%;
  text-align: center;
  padding: 25px;
  border-radius: 20px;
  background-color: #e1e4e4;
  font-weight: 600;
  font-size: 20px;
}

.answer-div{
  display: grid;
  grid-template-columns: repeat(2, 280px);
  grid-template-rows: repeat(2, 80px);
}

.answers-button{
  background-color: #e1e4e4;
  margin: 10px;
  font-size: 20px;
  border: none;
  cursor: pointer;
}
.correct{
  background-color: green;
}
.wrong{
  background-color: red;
}
.answers-button:hover{
  background-color: #cbcfcfd0;
}

.next-button-div{
  display: flex;
  align-self: flex-end;
}

.next-button {
  background-color: #7aee71;
  width: 150px;
  height: 50px;
  margin: 10px;
  text-transform: uppercase;
}

.header-div{
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
}